<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sopa Mocion</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <main class="container mt-5">
        <div class="row">
          <div class="col-5">
            <h1 class="mb-3">Sopa de Letras</h1>
            <button
              v-if="words.length"
              class="btn btn-primary mb-3"
              type="button"
              @click="generatePuzle()"
            >
              Generar
            </button>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Palabra..."
                v-model="word"
                @keydown.enter="addWord()" 
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  @click="addWord()"
                >
                  Agregar
                </button>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item" v-for="(word, i) in words" :key="i">
                {{ word }}
              </li>
            </ul>
          </div>
          <div class="col-7">
            <div
              class="row no-gutters"
              v-for="(row, keyRow) in matriz"
              :key="`row-${keyRow}`"
            >
              <template v-for="(column, keyColumn) in row">
                <template v-if="typeof column === 'object'">
                  <div
                    :class="`col text-center text-white border bg-${column.bg}`"
                  >
                    {{ column.val }}
                  </div>
                </template>
                <div v-else class="col text-center border">
                  {{ column }}
                </div>
              </template>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
